@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafcff;
  font-family: Poppins, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  @apply font-MuseoRegular;
}

@layer base {
  @font-face {
    font-family: "nats-regular";
    src: url("/fonts/NATS-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Museo-Slab";
    src: url("/fonts/Museo_Slab.otf") format("truetype");
    font-weight: normal;
  }
}
